<!DOCTYPE html>
<html>
 <head>
  <link rel="stylesheet" href="css/jquery.dataTables.min.css" type="text/css" />
  <script src="js/jquery-1.12.4.js" type="text/javascript" language="javascript"></script>
  <script src="js/jquery.dataTables.min.js" type="text/javascript" language="javascript"></script>
  <script type="text/javascript" class="init">
   $(document).ready(function() {
    $('#status').DataTable();
   } );
  </script>
  <title>{{ doc_title }}</title>
 </head>
 <body>
  <h1>{{ doc_title }}</h1>
  <p>Generated: {{ ansible_date_time['iso8601'] }}</p>
  <table id="status" class="display" cellspacing="0" width="100%">
   <thead>
    <tr>
     <th>Host</th>
     <th>OS Distribution</th>
     <th>OS Release</th>
     <th>Architecture</th>
     <th>Available Updates</th>
     <th>Security Updates</th>
    </tr>
   </thead>
   <tbody>
{% for i in play_hosts | sort %} 
    <tr>
     <td data-search="{{ hostvars[i]['ansible_fqdn'] }}">
      {{ hostvars[i]['ansible_fqdn'] }}
     </td>
     <td data-search="{{ hostvars[i]['ansible_distribution'] }}">
      {{ hostvars[i]['ansible_distribution'] }}
     </td>
     <td data-search="{{ hostvars[i]['ansible_distribution_version'] }}">
      {{ hostvars[i]['ansible_distribution_version'] }}
     </td>
     <td data-search="{{ hostvars[i]['ansible_architecture'] }}">
      {{ hostvars[i]['ansible_architecture'] }}
     </td>
     <td data-order="{{ hostvars[i]['patch_status']['stdout_lines'][0] }}">
      {{ hostvars[i]['patch_status']['stdout_lines'][0] }}
     </td>
     <td data-order="{{ hostvars[i]['patch_status']['stdout_lines'][1] }}">
      {{ hostvars[i]['patch_status']['stdout_lines'][1] }}
     </td>
    </tr>
{% endfor %}
   </tbody>
  </table>
 </body>
</html>
